body{
 font-family:Arial, sans-serif;
 background:#f1f1f1;
 padding:30px;
}

.container{
 max-width:900px;
 margin:auto;
 background:white;
 padding:30px;
 border-radius:12px;
}

.card{
 margin-top:20px;
 padding:20px;
 border:1px solid #ddd;
 border-radius:10px;
}

input,button{
 padding:10px;
 margin:5px;
}

button{
 cursor:pointer;
}
