body{
font-family:Arial;
background:#f1f1f1;
padding:30px;
}
.container{
background:white;
padding:30px;
max-width:1000px;
margin:auto;
border-radius:15px;
}
.resumo{
display:grid;
grid-template-columns:repeat(6,1fr);
gap:10px;
}
.resumo div{
background:#eee;
padding:15px;
text-align:center;
border-radius:8px;
}
input,button{
padding:10px;
margin:5px;
}
button{
background:#198754;
color:white;
border:0;
}
table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}
td,th{
border:1px solid #ccc;
padding:10px;
text-align:center;
}
